body{
  font-family: 'Baloo Bhai', cursive;
  width:98%;
  
  background: url(https://66.media.tumblr.com/b07d795af6812e68d2b294daf3ef5527/tumblr_prwy50NzRa1yp4zl5o1_1280.jpg);
  background-size:100%;
  background-repeat:no-repeat;
}
#form{
  
  border:5px solid white;
  border-radius:5%;
  background:transparent;
  width:300px;
  text-align:center;
  margin:100px auto;
}
#form h1{
  color:white;
}

#form input{
  color:red;
  padding:1em;
  margin:5px;
  background:white;
  border:2px solid white;
  border-radius:3%;
}
#form .text{
  width:250px;
  height:2px;
}
#form .submit-button{
  background:transparent;
  margin:15px;
  color:white;
  width:40%;
  padding:5px;
  border:3px solid;
  border-radius:7%;
}
